@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Space+Mono&display=swap');

#banner {
    background-image: url("https://sm.ign.com/ign_br/screenshot/default/blob_tj8k.jpg");
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 600px;
}

 
.form-conteudo {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    background-color: #fa97fa;
}
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: space-between;
    width: 100%;   
}

.form {
    width: 50%;
    row-gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Kdam Thmor Pro" sans-serif; 
    font-size: 20px;
    color: #a640a6;
    border: #a640a6 solid 5px;
    border-radius: 80px;
    padding: 10px 10px;
    background-color: #fa97fa;

   }

   .span-form {
    font-family: "Kdam Thmor Pro" sans-serif; 
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 5px;
    color: #a640a6;
   }

   #name {
    width: 50%;
    height: 20px;
    border: #a640a6 solid 2px;
    border-radius: 5px;
   }

   #email {
    width: 50%;
    height: 20px;
    border: #a640a6 solid 2px;
    border-radius: 5px;
   }

   #text {
    width: 50%;
    
    border: #a640a6 solid 2px;
    border-radius: 5px;
   }

   .button {
    width: 200px;
    height: 50px;
    background-color: black;
    color: #a640a6;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .8s;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Kdam Thmor Pro" sans-serif; 
    font-weight: bold;
    border: none;
    outline: none;
    margin-top: 5px;
    }

    .button:hover {
        background-color: #a640a6;
        color: black;
    }
